@import url("https://use.typekit.net/bzy5lat.css");

.navbar-color {
  background-color: #fce2c5;
}

span {
  color: rgb(236, 7, 103);
}

body {
  font-family: "felt-tip-roman", sans-serif;
  font-size: 26px;
  font-style: normal;
}

.mono-card {
  width: 50rem !important;
  border: none;
  margin: 16px;
  padding: 16px;
}

.mono-card-img {
  width: 28%;
  height: auto;
}

.mono-card-text-category {
  font-size: 16px;
  color: rgb(226, 162, 51);
}

.mono-card-text-product {
  font-size: 20px;
  color: rgb(0, 162, 227);
}

.mono-card-text-description {
  font-size: 16px;
  color: rgb(85, 85, 85);
}

.mono-card-text-pricing {
  font-size: 18px;
  color: rgb(85, 85, 85);
}

.monkey-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mono-button-increase {
  background-color: rgb(46, 150, 15);
  color: white;
  margin: 5px;
}

.mono-button-decrease {
  background-color: rgb(146, 11, 29);
  color: white;
  margin: 5px;
}

.mono-button-decrease-2 {
  background-color: rgb(187, 43, 63);
  color: white;
  margin: 5px;
}

.mono-button-add {
  background-color: rgb(8, 160, 127);
  color: white;

  margin: 10px;
}
.mono-button {
  background-color: rgb(236, 7, 103);
  color: #ffffff;
  border: none;
}

.mono-button:hover {
  background-color: rgb(0, 162, 227);
}

.mono-h1 {
  font-size: 60px;
  color: rgb(0, 162, 227);
}

.mono-h2 {
  font-size: 30px;
  color: rgb(226, 162, 51);
}

.mono-b {
  font-size: 50px;
  color: rgb(236, 7, 103);
}
